{{!
Show an error alert.

Context variables:
* error (string) the message
}}

<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
  <span class="sr-only">{{#str}} error, mod_stratumtwo {{/str}}: </span>
  {{{ error }}}
</div>