{{!
Derived from A+ (a-plus/exercise/templates/exercise/_exercise_info.html).

Context variables:
* summary (stdClass), summary of the user's status in the exercise, fields: 
    points, penaltyapplied (null if no late penalty applied), penaltyappliedpercent (0-100),
    submission_count,
    fields required by _points_progress.mustache
* exercise (stdClass), with fields
    max_points, max_submissions (0 if no limit),
    max_submissions_for_user (submission limit with personal deviation, may be the same as max_submissions),
    points_to_pass (0 if no limit), total_submitter_count,
    submit_limit_deviation (int, number of extra submissions for the user),
    deadline (int, Unix timestamp, normal round deadline or the extended deadline for the user),
    dl_extended_minutes (int, number of minutes the deadline is extended for the user),
    course_module (stdClass) with keys 
        - closingtime
        - late_submissions_allowed (boolean)
        - late_submission_deadline (int) timestamp
        - show_late_submission_point_worth (boolean) true if late submissions receive penalty
        - late_submission_penalty (int) percentage of points reduced
    category (object) with fields
        - name (string)
        - status_hidden (boolean) true if hidden
* toDateStr callable Function that converts a Unix timestamp to a date string
}}

<div class="well">
    <p>{{#str}} earnedpoints, mod_astra {{/str}}</p>
    <p><strong class="h2 exercise-info-points">
        {{ summary.points }}
        <small>
            / {{ exercise.max_points }}
            {{# summary.penaltyapplied }}
            <span class="badge">
                {{#str}} late, mod_astra {{/str}} -{{ summary.penaltyappliedpercent }} %
            </span>
            {{/ summary.penaltyapplied }}
        </small>
    </strong></p>
    {{# summary }}
      {{> mod_astra/_points_progress }}
    {{/ summary }}
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">{{#str}} exerciseinfo, mod_astra {{/str}}</h4>
    </div>
    <div class="panel-body">
        <dl>
            {{^ exercise.category.status_hidden }}
                <dt>{{#str}} exercisecategory, mod_astra {{/str}}</dt>
                <dd class="exercise-info-category">
                  {{ exercise.category.name }}
                </dd>
            {{/ exercise.category.status_hidden }}
            <dt>{{#str}} yoursubmissions, mod_astra {{/str}}</dt>
            <dd class="exercise-info-submissions">
                {{ summary.submission_count }}
                {{# exercise.max_submissions }}
                / {{ exercise.max_submissions_for_user }}
                {{# exercise.submit_limit_deviation }}
                  <small>{{#str}} youhaveextrasubmissions, mod_astra, {{ exercise.submit_limit_deviation }} {{/str}}</small>
                {{/ exercise.submit_limit_deviation }}
                {{/ exercise.max_submissions }}
            </dd>

            {{# exercise.points_to_pass }}
            <dt>{{#str}} pointsrequired, mod_astra {{/str}}</dt>
            <dd class="exercise-info-required-points">{{ exercise.points_to_pass }}</dd>
            {{/ exercise.points_to_pass }}

            <dt>{{#str}} deadline, mod_astra {{/str}}</dt>
            <dd class="exercise-info-deadline">{{# toDateStr }}{{ exercise.deadline }}{{/ toDateStr }}
            {{# exercise.dl_extended_minutes }}
              <small>{{#str}} withyourextension, mod_astra {{/str}}</small>
            {{/ exercise.dl_extended_minutes }}
            </dd>

            {{^ exercise.dl_extended_minutes }}
            {{# exercise.course_module.late_submissions_allowed }}
            <dt>{{#str}} latesbmsdl, mod_astra {{/str}}</dt>
            <dd class="exercise-info-late-deadline">
              {{# toDateStr }}{{ exercise.course_module.late_submission_deadline }}{{/ toDateStr }}
              {{# exercise.course_module.show_late_submission_point_worth }}
                (-{{ exercise.course_module.late_submission_penalty }}%)
              {{/ exercise.course_module.show_late_submission_point_worth }}
            </dd>
            {{/ exercise.course_module.late_submissions_allowed }}
            {{/ exercise.dl_extended_minutes }}

            <dt>{{#str}} totalnumberofsubmitters, mod_astra {{/str}}</dt>
            <dd class="exercise-info-submitters">{{ exercise.total_submitter_count }}</dd>

        </dl>
    </div>
</div>
