{{!
Derived from A+ (a-plus/exercise/templates/exercise/_file_link.html)

Template for one (submission) file link.

Context variables:
* absolute_url (string)
* absolute_url_forcedl (string) absolute URL that forces the client to download the file
        (will not be displayed in browser)
* is_passed (bool) true if the file is binary (image, pdf)
* filename (base name, not full path)
* size (int, in bytes)
* fileSizeFormatter (callable) function to convert bytes (int) to a human-readable string (e.g. "10.2 KB")
}}

<a href="{{{ absolute_url }}}"{{^ is_passed }} class="file-modal"{{/ is_passed }} target="_blank">{{ filename }}</a>
<a href="{{{ absolute_url_forcedl }}}" class="btn btn-secondary btn-sm" title="{{#str}} download, mod_astra {{/str}}">
    {{#pix}}a/download_all{{/pix}}
    {{# fileSizeFormatter }}{{ size }}{{/ fileSizeFormatter }}
</a>
