{{!
Derived from A+ (a-plus/exercise/templates/exercise/_points_progress.html).

Context variables:
* points int
* max int
* required int Points that are required to pass, zero is not shown
* full_score bool
* passed bool
* percentage int percentage of max points that the student has earned
* required_percentage int 0-100, percentage of max points required
}}

{{# max }}
<div class="progress" data-toggle="tooltip" data-html="true" data-placement="bottom"
    title="{{#str}} points, mod_astra {{/str}}: &lt;span class='text-nowrap'&gt;{{ points }} / {{ max }}&lt;/span&gt;{{# required }} {{#str}} required, mod_astra {{/str}}: &lt;span class='text-nowrap'&gt;{{ required }}&lt;/span&gt;{{/ required }}">
    <div class="progress-bar progress-bar-striped bg-{{# full_score }}success{{/ full_score }}{{^ full_score }}{{# passed }}warning{{/ passed }}{{^ passed }}danger{{/ passed }}{{/ full_score }}"
        role="progressbar" aria-valuenow="{{ points }}" aria-valuemin="0" aria-valuemax="{{ max }}"
        style="width:{{ percentage }}%; height: inherit;{{# required_percentage }} float: left;{{/ required_percentage }}">
    {{! height seems to be often zero if not set here; float left is needed for the required percentage marker so that it is displayed on top of the progress bar }}
    </div>
    {{# required_percentage }}
    <div class="required-points" style="left:{{ required_percentage }}%"></div>
    {{/ required_percentage }}
</div>
{{/ max }}
