{{! Show next/previous links for an exercise round or a learning object.
Adapted from A+ (a-plus/course/templates/course/_siblings.html)

Context variables:
* next (object) the next sibling
* previous (object) the previous sibling
    - both objects have fields
      name (string), link (string, URL for opening the sibling),
      accessible (boolean, true if the target is open now)
* is_course_staff (boolean)
* indexurl (string) URL to the index page of the module (overview of the course exercises and results)
}}

<nav class="row siblings">
    {{# next }}
    {{# next.accessible }}
    <a href="{{{ next.link }}}" class="float-right btn btn-link">
        {{ next.name }} &raquo;
    </a>
    {{/ next.accessible }}
    {{^ next.accessible }}
    <span class="float-right btn btn-link disabled">
        {{ next.name }} &raquo;
        {{# is_course_staff }}
        <a href="{{{ next.link }}}" class="btn btn-secondary btn-sm">
            {{#pix}}i/lock{{/pix}}
            {{#str}} earlyaccess, mod_astra {{/str}}
        </a>
        {{/ is_course_staff }}
    </span>
    {{/ next.accessible }}
    {{/ next }}

    {{# previous }}
    {{# previous.accessible }}
    <a href="{{{ previous.link }}}" class="float-left btn btn-link">
        &laquo; {{ previous.name }}
    </a>
    {{/ previous.accessible }}
    {{^ previous.accessible }}
    <span class="float-left btn btn-link disabled">
        &laquo; {{ previous.name }}
        {{# is_course_staff }}
        <a href="{{{ previous.link }}}" class="btn btn-secondary btn-sm">
            {{#pix}}i/lock{{/pix}}
            {{#str}} earlyaccess, mod_astra {{/str}}
        </a>
        {{/ is_course_staff }}
    </span>
    {{/ previous.accessible }}
    {{/ previous }}

    <span class="d-none d-lg-block" style="text-align: center;">
        <a class="btn btn-link" href="{{{ indexurl }}}">
            {{#str}} courseoverview, mod_astra {{/str}}
        </a>
    </span>
</nav>
