{{!
Derived from A+ (a-plus/exercise/templates/exercise/_submission_info.html)

Context variables: 
* submission (stdClass) with fields 
    - submission_time (int, Unix timestamp)
    - is_graded (bool)
    - state (string) status of the submission (not called status to avoid 
        variable name collision with _points_badge.mustache)
    - points (int)
    - service_points (int)
    - service_max_points (int)
    - late_penalty_applied (float, 0-1), null if no late penalty
    - late_penalty_applied_percent (int, 0-100)
    - submitter_name (string) in the format "fullname (student id)"
* exercise (stdClass) with fields 
    max_points
* toDateStr callable Function that converts a Unix timestamp to a date string
* is_course_staff (bool)
}}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">{{#str}} submissioninfo, mod_astra {{/str}}</h4>
    </div>
    <div class="panel-body">
        <dl>
            <dt>{{#str}} submittedon, mod_astra {{/str}}</dt>
            <dd>{{# toDateStr }}{{ submission.submission_time }}{{/ toDateStr }}</dd>

            <dt>{{#str}} status, mod_astra {{/str}}</dt>
            <dd>
                <span class="label label-{{# submission.is_graded }}success{{/ submission.is_graded }}{{^ submission.is_graded }}default{{/ submission.is_graded }}">
                    {{ submission.state }}
                </span>
            </dd>

            <dt>{{#str}} grade, mod_astra {{/str}}</dt>
            <dd>
                {{ submission.points }} / {{ exercise.max_points }}
                {{# is_course_staff }}
                <br />({{#str}} forstafforiginal, mod_astra {{/str}} {{ submission.service_points }} / {{ submission.service_max_points }})
                {{/ is_course_staff }}
            </dd>

            {{# submission.late_penalty_applied }}
            <dt>{{#str}} includeslatepenalty, mod_astra {{/str}}</dt>
            <dd>-{{ submission.late_penalty_applied_percent }} %</dd>
            {{/ submission.late_penalty_applied }}

            <dt>
                {{#str}} submitters, mod_astra {{/str}}
            </dt>
            <dd>{{ submission.submitter_name }}</dd>
        </dl>
    </div>
</div>
