{{!
Assess a submission manually.
Derived from A+ (a-plus/exercise/templates/exercise/staff/assess_submission.html).

Context variables:
* variables required by inspect_info.mustache
* form (HTML string) manual assessment form
}}

<div class="row">
<div class="col-md-5">
    {{> mod_astra/inspect_info }}
</div>
<div class="col-md-7">
    <h3>{{#str}} assessment, mod_astra {{/str}}</h3>
    <div class="card bg-light">
      <div class="card-body">
        {{{ form }}}
      </div>
    </div>
</div>
</div>

{{> mod_astra/_page_file_modals }}

{{#js}}
require(['jquery', 'mod_astra/aplus_modal'], function($) {
  $(function() {
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
