{{!
Assess a submission manually.
Derived from A+ (a-plus/exercise/templates/exercise/staff/assess_submission.html).

Context variables:
* variables required by inspect_info.mustache
* form (HTML string) manual assessment form
}}

<div class="bs3-container-fluid">

<div class="col-md-5">
    {{> mod_astra/inspect_info }}
</div>
<div class="col-md-7">
    <h3>{{#str}} assessment, mod_astra {{/str}}</h3>
    <div class="well">
        {{{ form }}}
    </div>
</div>

</div>

<div id="page-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-progress">
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%" data-msg-error="{{#str}} loadingfailed, mod_astra {{/str}}">
                  {{#str}} loading, mod_astra {{/str}}
                </div>
              </div>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">
                {{#str}} close, mod_astra {{/str}}
              </button>
            </div>
        </div>
    </div>
</div>

<div id="file-modal" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-progress">
              <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%" data-msg-error="{{#str}} loadingfailed, mod_astra {{/str}}">
                  {{#str}} loading, mod_astra {{/str}}
                </div>
              </div>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}} close, mod_astra {{/str}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

{{#js}}
require(['jquery', 'mod_astra/aplus_modal'], function($) {
  $(function() {
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
