{{!
Chapter page that does not show the actual chapter content: the chapter 
is closed (exercise round is not open or the chapter is under maintenance).

Context variables:
* status_maintenance (bool) true if status is set to maintenance
* not_started (bool) true if the exercise round has not opened yet
}}

{{< mod_astra/exercise_base }}

{{! remove submissions navbar, a chapter does not accept submissions }}
{{$ submissionsnavbar }}
{{/ submissionsnavbar }}

{{$ exercisecontent }}
<div id="exercise">
    {{# not_started }}
      <p>{{#str}} notopenedyet, mod_astra {{/str}}</p>
    {{/ not_started }}
    {{# status_maintenance }}
      <p>{{#str}} undermaintenance, mod_astra {{/str}}</p>
    {{/ status_maintenance }}
</div>
{{/ exercisecontent }}

{{! remove exercise info box, a chapter does not accept submissions }}
{{$ exerciseinfo }}
{{/ exerciseinfo }}

{{/ mod_astra/exercise_base }}
