{{!
Page for deleting an exercise round/a learning object/category.
Derived from A+ (a-plus/edit_course/templates/edit_course/remove_model.html).

Context variables:
* objecttype (string) type of the object being removed, e.g., exercise
* cancelurl (string) URL destination for cancelling
* message (string) confirmation message to the user about the removal
* actionurl (string) form action URL
}}

<div class="card bg-light">
<div class="card-body">
  <form method="post" action="{{{ actionurl }}}">
    <legend>
        {{#str}} confirmobjectremoval, mod_astra, {{ objecttype }} {{/str}}
    </legend>

    <div class="alert alert-danger" role="alert">
        {{{ message }}}
    </div>

    <div class="form-group">
        <input class="btn btn-danger" type="submit" name="delete" value="{{#str}} remove, mod_astra {{/str}}"/>
        <a class="btn btn-secondary" href="{{{ cancelurl }}}">
            {{#str}} cancel, mod_astra {{/str}}
        </a>
    </div>
  </form>
</div>
</div>
