{{!
Page for deleting an exercise round/a learning object/category.
Derived from A+ (a-plus/edit_course/templates/edit_course/remove_model.html).

Context variables:
* objecttype (string) type of the object being removed, e.g., exercise
* cancelurl (string) URL destination for cancelling
* message (string) confirmation message to the user about the removal
* actionurl (string) form action URL
* lobjects (array of objects) the learning objects that will be deleted, each object has fields
    - name (string)
    - is_submittable (bool) true if the type of the learning object accepts submissions
    - total_submitter_count (int) the number of distinct submitters (if the object is submittable)
}}

<div class="card bg-light">
<div class="card-body">
  <form method="post" action="{{{ actionurl }}}">
    <legend>
        {{#str}} confirmobjectremoval, mod_astra, {{ objecttype }} {{/str}}
    </legend>

    <div class="alert alert-danger" role="alert">
        {{{ message }}}
        <p>{{#str}} lobjectstoremove, mod_astra {{/str}}</p>
        <table class="table table-sm" style="width: auto;">
          {{# lobjects }}
            <tr>
              <td>{{ name }}</td>
              <td>
                {{^ is_submittable }} {{#str}} notsubmittable, mod_astra {{/str}} {{/ is_submittable }}
                {{# is_submittable }}
                  {{#str}} numsubmitters, mod_astra, {{ total_submitter_count }} {{/str}}
                {{/ is_submittable }}
              </td>
            </tr>
          {{/ lobjects }}
        </table>
    </div>

    <div class="form-group">
        <input class="btn btn-danger" type="submit" name="delete" value="{{#str}} remove, mod_astra {{/str}}"/>
        <a class="btn btn-secondary" href="{{{ cancelurl }}}">
            {{#str}} cancel, mod_astra {{/str}}
        </a>
    </div>
  </form>
</div>
</div>
