{{!
Template for an embedded exercise that can be inserted into a chapter page.
Derived from A+ (a-plus/exercise/templates/exercise/exercise_plain.html).

Context variables:
* exercise (object) with fields
    - is_submittable (bool) true if the learning object can receive submissions (is an exercise, not chapter)
    - max_submissions_for_user (int) max number of submissions the user may submit
    - points_to_pass (int)
    - submissionlisturl (string) URL to the list of all submissions
    - can_view_submissions (bool) true if the user can see the submission list
* summary (object) exercise summary with fields 
    - fields required by _points_badge.mustache
    - best_submission_url (string) URL to view the best submission
    - submission_count (int) number of submissions from the user
* submissions (array of objects, the latest submission first), each object has keys 
    url (string), submission_time (int, timestamp), nth (int, ordinal number),
    the variables required by _points_badge.mustache (set status if the submission is not graded)
* module (object) exercise round, with fields 
    - closingtime (int) Unix timestamp of the round closing time
    - is_late_submission_open (boolean) true if late submissions are accepted now
      (deadline passed but the late deadline has not)
    - late_submission_deadline (int) timestamp
    - show_late_submission_point_worth (boolean) true if late submissions receive a penalty
    - late_submission_penalty (int) percentage that is reduced from the points
* is_course_staff (bool) true if the user can view all submissions
* toDateStr callable Function that converts a Unix timestamp to a date string
* error (string) set if an error message should be displayed
* page (stdClass) with fields
    content (html string)
    is_wait (boolean) true if JS should poll for the status of the new submission to see when it is ready
* submission (object) a new submission for _exercise_wait.mustache
}}

<div id="exercise-all">

    {{# exercise.is_submittable }}
        <nav class="exercise-summary navbar navbar-default clearfix">
          <ul class="nav navbar-nav exercise-nav">
            <li>
                <a href="{{# summary.best_submission_url }}{{ summary.best_submission_url }}{{/ summary.best_submission_url }}{{^ summary.best_submission_url }}#{{/ summary.best_submission_url }}">
                    {{#str}} points, mod_astra {{/str}}
                    {{# summary }}
                      {{> mod_astra/_points_badge }}
                    {{/ summary }}
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    {{#str}} submissions, mod_astra {{/str}}
                    <span class="badge">
                        {{ summary.submission_count }}
                        {{# exercise.max_submissions_for_user }}
                        / {{ exercise.max_submissions_for_user }}
                        {{/ exercise.max_submissions_for_user }}
                    </span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {{# submissions }}
                    <li>
                        <a href="{{{ url }}}">
                            {{ nth }}.
                            {{# toDateStr }}{{ submission_time }}{{/ toDateStr }}
                            {{> mod_astra/_points_badge }}
                        </a>
                    </li>
                    {{/ submissions }}
                    {{^ submissions }}
                    <li>
                        <a href="#">{{#str}} nosubmissionsyet, mod_astra {{/str}}</a>
                    </li>
                    {{/ submissions }}
                </ul>
            </li>
            <li class="navbar-text">
                <small>
                    {{# exercise.points_to_pass }}
                      {{#str}} requiredpoints, mod_astra, {{ exercise.points_to_pass }} {{/str}}. 
                    {{/ exercise.points_to_pass }}
                    {{! TODO show personal deadline deviation }}
                    {{# module.is_late_submission_open }}
                      {{#str}} latesbmsdl, mod_astra {{/str}} {{# toDateStr }}{{ module.late_submission_deadline }}{{/ toDateStr }}
                      {{# module.show_late_submission_point_worth }}
                        (-{{ module.late_submission_penalty }}%)
                      {{/ module.show_late_submission_point_worth }}
                    {{/ module.is_late_submission_open }}
                    {{^ module.is_late_submission_open }}
                      {{#str}} deadline, mod_astra {{/str}} {{# toDateStr }}{{ module.closingtime }}{{/ toDateStr }}
                    {{/ module.is_late_submission_open }}
                </small>
            </li>
          </ul>
          {{# exercise.can_view_submissions }}
            <a class="btn btn-default btn-xs page-modal no-open-modal" href="{{{ exercise.submissionlisturl }}}">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                {{#str}} viewallsubmissions, mod_astra {{/str}}
            </a>
          {{/ exercise.can_view_submissions }}
        </nav>
    {{/ exercise.is_submittable }}

    <div class="exercise-response">
        {{# error }}
          {{> mod_astra/_error_alert }}
        {{/ error }}
        <div>
            {{{ page.content }}}
        </div>
        {{! if this page receives submissions (is rendered when a new submission is uploaded, 
        and exercise service tells us to wait a short time,
        poll for the grading status of the new submission }}
        {{> mod_astra/_exercise_wait }}
    </div>
</div>
