{{!
Display one exercise (instructions, submission form).
Derived from A+ (a-plus/exercise/templates/exercise/exercise.html)

Context variables:
* variables required by exercise_base.mustache
* page (stdClass) with fields
    content (html string)

}}

{{< mod_astra/exercise_base }}

{{$ exercisecontent }}
<div id="exercise-page-content" data-aplus-chapter="{{{ exercise.url }}}">
    {{{ page.content }}}
</div>

<div id="submit-progress" class="hide progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;">
    {{#str}} postingsubmission, mod_astra {{/str}}
  </div>
</div>

{{! not used since this page does not render feedback
{> mod_astra/_exercise_wait } }}

<div id="loading-indicator" class="hide progress"
  data-msg-load="{{#str}} loadingexercise, mod_astra {{/str}}"
  data-msg-submit="{{#str}} postingsubmission, mod_astra {{/str}}"
  data-msg-error="{{#str}} exercisecommerror, mod_astra {{/str}}">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;"></div>
</div>

<div id="quiz-success" class="hide">
  <h3 class="text-center">{{#str}} submissionreceived, mod_astra {{/str}}</h3>
  <p class="text-center badge-placeholder"></p>
  <button type="button" class="btn btn-success center-block read-feedback" data-dismiss="modal">
    {{#str}} gotofeedback, mod_astra {{/str}}
  </button>
</div>

{{/ exercisecontent }}

{{/ mod_astra/exercise_base }}

{{#js}}
require(['jquery'], function($) {
    // Add an Ajax exercise event listener to refresh the info column.
    window.addEventListener("message", function (event) {
        if (event.data.type === "a-plus-refresh-stats") {
            $("#submit-progress").addClass("hide");
            var $stats = $("#exercise-info"),
                url = $stats.data("url");
            $stats.load(url, function() {
                $stats.find('[data-toggle="tooltip"]').tooltip();
            });
        }
    });
});
{{/js}}
