{{!
Page that explains and links to the different export methods.

Context variables:
* export_results_url (string) URL to export results page
* export_submitted_files_url (string) URL to the export submitted files page
* export_submitted_forms_url (string) URL to the export submitted form input page
}}

<h2>{{#str}} exportdata, mod_astra {{/str}}</h2>

<dl>
  <dt><h4><a href="{{{ export_results_url }}}">{{#str}} exportresults, mod_astra {{/str}}</a></h4></dt>
  <dd class="ml-3">{{#str}} exportindexresultsdesc, mod_astra {{/str}}</dd>

  <dt><h4><a href="{{{ export_submitted_files_url }}}">{{#str}} exportsubmittedfiles, mod_astra {{/str}}</a></h4></dt>
  <dd class="ml-3">{{#str}} exportindexsubmittedfilesdesc, mod_astra {{/str}}</dd>

  <dt><h4><a href="{{{ export_submitted_forms_url }}}">{{#str}} exportsubmittedform, mod_astra {{/str}}</a></h4></dt>
  <dd class="ml-3">{{#str}} exportindexsubmittedformsdesc, mod_astra {{/str}}</dd>
</dl>
