{{!
Page that explains and links to the different export methods.

Context variables:
* export_results_url (string) URL to export results page
* export_submitted_files_url (string) URL to the export submitted files page
* export_submitted_forms_url (string) URL to the export submitted form input page
}}

<h2>{{#str}} exportdata, mod_astra {{/str}}</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="{{{ export_results_url }}}">{{#str}} exportresults, mod_astra {{/str}}</a></h4>
  </div>
  <div class="panel-body">
    {{#str}} exportindexresultsdesc, mod_astra {{/str}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="{{{ export_submitted_files_url }}}">{{#str}} exportsubmittedfiles, mod_astra {{/str}}</a></h4>
  </div>
  <div class="panel-body">
    {{#str}} exportindexsubmittedfilesdesc, mod_astra {{/str}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><a href="{{{ export_submitted_forms_url }}}">{{#str}} exportsubmittedform, mod_astra {{/str}}</a></h4>
  </div>
  <div class="panel-body">
    {{#str}} exportindexsubmittedformsdesc, mod_astra {{/str}}
  </div>
</div>
