{{!
Show all exercise rounds in the course.

Context variables:
* rounds (array of objects) each object has fields course_module, module_summary and
    categories as required by exercise_round.mustache
* toDateStr callable Function that converts a Unix timestamp to a date string
* is_course_staff bool
* categories (array of objects) each object has fields
    - name (string) name of the category
    - summary (object) with fields required by _points_progress.mustache
    - status_ready (bool) true if status is ready
* toc (object) with fields 
    - exercise_rounds (array of objects) as required by _course_toc.mustache
}}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#course-summary" aria-controls="course-summary"
        aria-expanded="true" role="tab" data-toggle="tab" id="course-summary-tab">
      {{#str}} exerciseresults, mod_astra {{/str}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#course-toc" aria-controls="course-toc"
        role="tab" data-toggle="tab" id="course-toc-tab">
      {{#str}} toc, mod_astra {{/str}}
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
  <div role="tabpanel" class="tab-pane fade show active" id="course-summary"
      aria-labelledby="course-summary-tab">
  <div class="row">
  {{# categories }}
    {{# status_ready }}
    <div class="col-md-3">
      <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">{{ name }}</h4>
        <p class="card-text"><strong class="h2">
          {{ summary.points }}
          <small>
            / {{ summary.max }}
          </small>
        </strong></p>
        {{# summary }}
          {{> mod_astra/_points_progress }}
        {{/ summary }}
      </div>
      </div>
    </div>
    {{/ status_ready }}
  {{/ categories }}
  </div>

  {{# rounds }}
    {{> mod_astra/exercise_round }}
  {{/ rounds }}
  </div> <!-- close tab-pane -->

  <div role="tabpanel" class="tab-pane fade" id="course-toc" aria-labelledby="course-toc-tab">
  {{# toc }}
    {{> mod_astra/_course_toc }}
  {{/ toc }}
  </div>
  
</div> <!-- close tab-content -->

{{> mod_astra/_page_file_modals }}

{{#js}}
require(['theme_boost/loader']);
require(['jquery', 'theme_boost/tooltip', 'mod_astra/aplus_modal'], function($) {
  /* enable Bootstrap tooltips */
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
    
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
