{{!
Show all exercise rounds in the course.

Context variables:
* rounds (array of objects) each object has fields course_module, module_summary and
    module_contents as required by exercise_round.mustache
* toDateStr callable Function that converts a Unix timestamp to a date string
* is_course_staff bool
* categories (array of objects) each object has fields
    - name (string) name of the category
    - summary (object) with fields required by _points_progress.mustache
    - status_ready (bool) true if status is ready
* toc (object) with fields 
    - exercise_rounds (array of objects) as required by _course_toc.mustache
}}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#course-summary" aria-controls="course-summary"
        aria-expanded="true" role="tab" data-toggle="tab" id="course-summary-tab">
      {{#str}} exerciseresults, mod_astra {{/str}}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#course-toc" aria-controls="course-toc"
        role="tab" data-toggle="tab" id="course-toc-tab">
      {{#str}} toc, mod_astra {{/str}}
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
  <div role="tabpanel" class="tab-pane fade show active" id="course-summary"
      aria-labelledby="course-summary-tab">
    {{> mod_astra/user_results }}
  </div> <!-- close tab-pane -->

  <div role="tabpanel" class="tab-pane fade" id="course-toc" aria-labelledby="course-toc-tab">
  {{# toc }}
    {{> mod_astra/_course_toc }}
  {{/ toc }}
  </div>
  
</div> <!-- close tab-content -->

{{> mod_astra/_page_file_modals }}

{{#js}}
require(['theme_boost/loader']);
require(['jquery', 'theme_boost/bootstrap/tooltip', 'mod_astra/aplus_modal'], function($) {
  /* enable Bootstrap tooltips */
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
    
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
