{{!
Inspect one submission.
Derived from A+ (a-plus/exercise/templates/exercise/staff/inspect_submission.html).

Context variables:
* variables required by inspect_info.mustache
* assistant_feedback (HTML string), null if no feedback
* feedback (HTML string), null if no feedback
* allow_manual_grading (bool) true if manual grading allowed
* manual_grading_url (string) URL to the manual grading page
* resubmit_grading_url (string) form action URL for regrading the submission in the exercise service
* grading_data_errors (string) when applicable, plain text string describing errors
  that occurred during the grading
}}

<div class="row">
<div class="col-md-5">
    {{> mod_astra/inspect_info }}
</div>
<div class="col-md-7">
    <h3>{{#str}} assistantfeedback, mod_astra {{/str}}</h3>
    <div class="card bg-light">
      <div class="card-body">

        {{# assistant_feedback }}
          {{{ assistant_feedback }}}
        {{/ assistant_feedback }}
        {{^ assistant_feedback }}
        <div class="alert alert-info" role="alert">
            {{#str}} noassistantfeedback, mod_astra {{/str}}
        </div>
        {{/ assistant_feedback }}

        {{# allow_manual_grading }}
        <hr>
        <a class="btn btn-primary" href="{{{ manual_grading_url }}}">
            {{#str}} assessmanually, mod_astra {{/str}}
        </a>
        {{/ allow_manual_grading }}
      </div>
    </div>

    <h3>{{#str}} graderfeedback, mod_astra {{/str}}</h3>
    <div class="card bg-light">
      <div class="card-body">
        {{# feedback }}
          {{{ feedback }}}
        {{/ feedback }}
        {{^ feedback }}
        <div class="alert alert-info" role="alert">
            {{#str}} nofeedback, mod_astra {{/str}}
        </div>
        {{/ feedback }}

        <hr>
        {{# allow_manual_grading }}
        <form method="post" action="{{{ resubmit_grading_url }}}" style="margin-bottom: 0.5rem;">
            <input class="btn btn-primary" type="submit" value="{{#str}} resubmittoservice, mod_astra {{/str}}"/>
        </form>
        
        <p class="card-text">
            {{#str}} resubmitwarning, mod_astra {{/str}}
        </p>
        {{/ allow_manual_grading }}
      </div>
    </div>

    {{# grading_data_errors }}
      <h3>{{#str}} gradererrors, mod_astra {{/str}}</h3>
      <pre>{{ grading_data_errors }}</pre>
    {{/ grading_data_errors }}
</div>
</div>

{{> mod_astra/_page_file_modals }}

{{#js}}
require(['jquery', 'mod_astra/aplus_modal'], function($) {
  $(function() {
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
