{{!
Submission info box.
Derived from A+ (a-plus/exercise/templates/exercise/staff/_assess_info.html).

Context variables:
* submitter_name (string) in the format "fullname (student id)"
* submitter_results_url (string) URL to the user results page of the submitter
* submitter_profile_pic (string) HTML of the submitter's Moodle profile picture that links to the profile page
* state (string) human-readable status of the submission
* submission_time (int) Unix timestamp
* points (int) points of the submission
* service_points (int) points from the grader before scaling
* service_max_points (int) max points used by the grader
* late_penalty_applied (float) late penalty 0-1, null if none
* late_penalty_applied_percent (int) late penalty percentage 0-100
* grading_time (int) Unix timestamp, when was the submission graded?
* manual_grader_name (string) name of the user who has given manual feedback
  (if manual feedback has been given)
* manual_grader_results_url (string) URL to the user results page of the manual grader
* manual_grader_profile_pic (string) HTML of the manual grader's Moodle profile
  picture that links to the profile page
* files (array of objects) each object has fields that are required by _file_link.mustache
* submission_data (string) pretty-printed JSON
* grading_data (string) pretty-printed JSON
* submissions (array of objects) all submissions in the exercise made by the user
    - each object has fields required by _points_badge.mustache
* submission_count (int) the number of submissions the user has made
* deviations (false|object) false if there are no deviations or otherwise an object with keys
    - has_submission_deviation (bool) true if the submitter has a submission limit
      deviation to the exercise
    - has_deadline_deviation (bool) true if the submitter has a deadline deviation
      to the exercise
    - submission_deviation_desc (string) description of the submission limit deviation
    - deadline_deviation_desc (string) description of the deadline deviation
* exercise (object with fields)
    - max_points (int)
    - max_submissions_for_user (int)
* toDateStr callable Function that converts a Unix timestamp to a date string
* fileSizeFormatter (callable) function to convert bytes (int) to a human-readable string (e.g. "10.2 KB")
}}

<div class="card">
    <h3 class="card-header">{{#str}} submitteddata, mod_astra {{/str}}</h3>
    <div class="card-body">
        <dl>
            <dt>{{#str}} submitters, mod_astra {{/str}}</dt>
            <dd><a href="{{{ submitter_results_url }}}">{{ submitter_name }}</a> {{{ submitter_profile_pic }}}</dd>
            <dt>{{#str}} status, mod_astra {{/str}}</dt>
            <dd>{{ state }}</dd>
            <dt>{{#str}} submissiontime, mod_astra {{/str}}</dt>
            <dd>{{# toDateStr }}{{ submission_time }}{{/ toDateStr }}</dd>
            <dt>{{#str}} grade, mod_astra {{/str}}</dt>
            <dd>{{ points }} / {{ exercise.max_points }}
              ({{#str}} graderoutput, mod_astra {{/str}} {{ service_points }} / {{ service_max_points }})
            </dd>
            {{# late_penalty_applied }}
            <dt>{{#str}} includeslatepenalty, mod_astra {{/str}}</dt>
            <dd>-{{ late_penalty_applied_percent }}%</dd>
            {{/ late_penalty_applied }}
            {{# grading_time }}
            <dt>
              {{#str}} gradingtime, mod_astra {{/str}}
              <small>{{#str}} gradingtimecompleted, mod_astra {{/str}}</small>
            </dt>
            <dd>{{# toDateStr }}{{ grading_time }}{{/ toDateStr }}</dd>
            {{/ grading_time }}
            {{# manual_grader_name }}
            <dt>{{#str}} manualgrader, mod_astra {{/str}}</dt>
            <dd><a href="{{{ manual_grader_results_url }}}">{{ manual_grader_name }}</a> {{{ manual_grader_profile_pic }}}</dd>
            {{/ manual_grader_name }}
            <dt>{{#str}} submissions, mod_astra {{/str}}</dt>
            <dd>
                <ul style="list-style: none;">
                {{# submissions }}
                  <li>
                    {{^ currentsubmission }}<a href="{{{ inspecturl }}}">{{/ currentsubmission }}
                      {{ nth }}.
                      {{# toDateStr }}{{ submission_time }}{{/ toDateStr }}
                      {{> mod_astra/_points_badge }}
                    {{^ currentsubmission }}</a>{{/ currentsubmission }}
                  </li>
                {{/ submissions }}
                </ul>

                {{#str}} intotal, mod_astra {{/str}}
                {{ submission_count }}
                {{# exercise.max_submissions_for_user }}
                  / {{ exercise.max_submissions_for_user }}
                {{/ exercise.max_submissions_for_user }}
            </dd>
        </dl>

        <h4 class="card-title">{{#str}} submittedfiles, mod_astra {{/str}}</h4>

        <ul class="list-unstyled">
            {{# files }}
            <li>
                {{#pix}}e/insert_file{{/pix}}
                {{> mod_astra/_file_link }}
            </li>
            {{/ files }}
            {{^ files }}
            <li>
                {{#str}} nofiles, mod_astra {{/str}}
            </li>
            {{/ files }}
        </ul>

        {{# deviations }}
        <h4 class="card-title">{{#str}} sbmsanddldeviations, mod_astra {{/str}}</h4>
        <ul class="list-unstyled">
        {{# has_submission_deviation }}
          <li>
            {{ submission_deviation_desc }}
          </li>
        {{/ has_submission_deviation }}
        {{# has_deadline_deviation }}
          <li>
            {{ deadline_deviation_desc }}
          </li>
        {{/ has_deadline_deviation }}
        </ul>
        {{/ deviations }}

        <h4 class="card-title">{{#str}} submittedvalues, mod_astra {{/str}}</h4>

<pre>
{{ submission_data }}
</pre>

        <h4 class="card-title">{{#str}} gradingdata, mod_astra {{/str}}</h4>

<pre>
{{ grading_data }}
</pre>
        
    </div>
</div>
