{{!
Inspect one submission.
Derived from A+ (a-plus/exercise/templates/exercise/staff/inspect_submission.html).

Context variables:
* variables required by inspect_info.mustache
* assistant_feedback (HTML string), null if no feedback
* feedback (HTML string), null if no feedback
* allow_manual_grading (bool) true if manual grading allowed
* manual_grading_url (string) URL to the manual grading page
* resubmit_grading_url (string) form action URL for regrading the submission in the exercise service
}}

<div class="row">
<div class="col-md-5">
    {{> mod_astra/inspect_info }}
</div>
<div class="col-md-7">
    <h3>{{#str}} assistantfeedback, mod_astra {{/str}}</h3>
    <div class="card bg-light">
      <div class="card-body">

        {{# assistant_feedback }}
          {{{ assistant_feedback }}}
        {{/ assistant_feedback }}
        {{^ assistant_feedback }}
        <div class="alert alert-info" role="alert">
            {{#str}} noassistantfeedback, mod_astra {{/str}}
        </div>
        {{/ assistant_feedback }}

        {{# allow_manual_grading }}
        <hr>
        <a class="btn btn-primary" href="{{{ manual_grading_url }}}">
            {{#str}} assessmanually, mod_astra {{/str}}
        </a>
        {{/ allow_manual_grading }}
      </div>
    </div>

    <h3>{{#str}} graderfeedback, mod_astra {{/str}}</h3>
    <div class="card bg-light">
      <div class="card-body">
        {{# feedback }}
          {{{ feedback }}}
        {{/ feedback }}
        {{^ feedback }}
        <div class="alert alert-info" role="alert">
            {{#str}} nofeedback, mod_astra {{/str}}
        </div>
        {{/ feedback }}

        <hr>
        {{# allow_manual_grading }}
        <form method="post" action="{{{ resubmit_grading_url }}}" style="margin-bottom: 0.5rem;">
            <input class="btn btn-primary" type="submit" value="{{#str}} resubmittoservice, mod_astra {{/str}}"/>
        </form>
        
        <p class="card-text">
            {{#str}} resubmitwarning, mod_astra {{/str}}
        </p>
        {{/ allow_manual_grading }}
      </div>
    </div>
</div>
</div>


<div id="page-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-progress">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" data-msg-error="{{#str}} loadingfailed, mod_astra {{/str}}">
                  {{#str}} loading, mod_astra {{/str}}
                </div>
              </div>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                {{#str}} close, mod_astra {{/str}}
              </button>
            </div>
        </div>
    </div>
</div>

<div id="file-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-progress">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" data-msg-error="{{#str}} loadingfailed, mod_astra {{/str}}">
                  {{#str}} loading, mod_astra {{/str}}
                </div>
              </div>
            </div>
            <div class="modal-header">
                {{! TODO when Moodle theme Boost updates to the latest Bootstrap 4, the h4 should be written before the close button as BS4 will use flexbox in modals }}
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}} close, mod_astra {{/str}}">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>


{{#js}}
require(['jquery', 'mod_astra/aplus_modal'], function($) {
  $(function() {
    /* Enable modal dialogs */
    $('.page-modal').aplusModalLink();
    $('.file-modal').aplusModalLink({file:true});
  });
});
{{/js}}
