{{!
Derived from A+ (a-plus/exercise/templates/exercise/submission.html)

Context variables:
* variables required by exercise_base.mustache
* submission requires more fields: 
    - has_files (bool)
    - assistant_feedback (string)
    - files (array of stdClass objects), each object has fields 
        that are required by _file_link.mustache
    - feedback (string)
    - status_wait (bool) true if the submission is waiting for assessment
    - variables required by _submission_info.mustache
    - variables required by _exercise_wait.mustache
* exercise requires more fields: 
    allow_assistant_grading (bool), max_points (int)
* fileSizeFormatter (callable) function to convert bytes (int) to a human-readable string (e.g. "10.2 KB")
* is_course_staff (bool)
* page (object) with fields
    - is_wait (boolean) true if the page should poll whether the grading of the submission is complete 
}}

{{< mod_astra/exercise_base }}

{{$ exercisecontent }}

  {{# submission.has_files }}
    <h4>{{#str}} filesinthissubmission, mod_astra {{/str}}</h4>
    <ul class="list-unstyled">
        {{# submission.files }}
        <li>
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            {{> mod_astra/_file_link }}
        </li>
        {{/ submission.files }}
    </ul>
  {{/ submission.has_files }}

  {{# submission.assistant_feedback }}
    <h4>{{#str}} assistantfeedback, mod_astra {{/str}}</h4>
    <blockquote>{{{ submission.assistant_feedback }}}</blockquote>
  {{/ submission.assistant_feedback }}
  
  {{# submission.feedback }}
    <div id="exercise">
        {{{ submission.feedback }}}
    </div>
  {{/ submission.feedback }}
  {{^ submission.feedback }}
    {{# submission.status_wait }}
      <div class="alert alert-info">
        {{#str}} acceptedforgrading, mod_astra {{/str}}
      </div>
    {{/ submission.status_wait }}
    {{^ submission.status_wait }}
      <div class="alert alert-info">
        {{#str}} nofeedback, mod_astra {{/str}}
      </div>
    {{/ submission.status_wait }}
  {{/ submission.feedback }}
  
  {{> mod_astra/_exercise_wait }}

{{/ exercisecontent }}

{{$ exerciseinfo }}

  <div id="exercise-info" {{!data-url="{ exercise|url:'exercise-info' }" no backend implemented for retrieving the exercise info box}}>
      {{>  mod_astra/_exercise_info }}
  </div>
  {{> mod_astra/_submission_info }}
  
{{/ exerciseinfo }}

{{/ mod_astra/exercise_base }}

{{#js}}
require(['jquery', 'mod_astra/aplus_poll'], function($) {
  // activate poller (uses markup from _exercise_wait.mustache)
  $(function() {
    $.aplusExerciseDetectWaits();
  });
});
{{/js}}
