{{!
Display one chapter.
Derived from A+ (a-plus/exercise/templates/exercise/exercise.html)

Context variables:
* (most variables required by exercise_base.mustache are not actually needed here)
* error (string) set if an error message should be shown before the content
* chapter (object) with fields
    - url (string) URL for displaying the chapter
* page (stdClass) with fields
    content (html string)
* round_toc (object) table of contents of the exercise round, set if it should be printed,
    object has the fields required by _round_toc.mustache
}}

{{< mod_stratumtwo/exercise_base }}

{{! remove submissions navbar, a chapter does not accept submissions }}
{{$ submissionsnavbar }}
{{/ submissionsnavbar }}

{{$ exercisecontent }}
{{# round_toc }}
  <h4>{{#str}} toc, mod_stratumtwo {{/str}}</h4>
  {{> mod_stratumtwo/_round_toc }}
{{/ round_toc }}

<div id="exercise" data-aplus-chapter="{{{ chapter.url }}}">
    {{{ page.content }}}
</div>

<div id="submit-progress" class="hide progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;">
    {{#str}} postingsubmission, mod_stratumtwo {{/str}}
  </div>
</div>

<div id="loading-indicator" class="hide progress"
  data-msg-load="{{#str}} loadingexercise, mod_stratumtwo {{/str}}"
  data-msg-submit="{{#str}} postingsubmission, mod_stratumtwo {{/str}}"
  data-msg-error="{{#str}} exercisecommerror, mod_stratumtwo {{/str}}">
  <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%;"></div>
</div>
{{/ exercisecontent }}

{{! remove exercise info box, a chapter does not accept submissions }}
{{$ exerciseinfo }}
{{/ exerciseinfo }}

{{/ mod_stratumtwo/exercise_base }}

<div id="embed-modal" class="modal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{#str}} close, mod_stratumtwo {{/str}}
        </button>
      </div>
    </div>
  </div>
</div>

{{#js}}
require(['jquery', 'mod_stratumtwo/aplus_chapter'], function($) {
  // Construct the page chapter element.
  $('#exercise').aplusChapter();
});
{{/js}}
