{{!
This code is based on A+ templates.

context variables:
* course_module stdClass (exercise round) with fields id, openingtime, closingtime, name, 
        late_submissions_allowed, late_submission_deadline,
        show_late_submission_point_worth (bool), late_submission_point_worth (0-100),
        status_ready (bool), status_maintenance (bool), introduction (HTML string)
        show_required_points (bool, status ready and points to pass > 0), points_to_pass
* module_summary stdClass (summary of the student's status in the exercise round)
        fields that are required by _points_badge.mustache
* toDateStr callable Function that converts a Unix timestamp to a date string
* categories array of arrays. The outer array must have numeric indexes and the inner arrays must
        have keys id (category ID), name (category name),
        exercise_summaries (array of arrays), the inner arrays have keys
            exercise (object with keys url, name, submissionlisturl),
            exercise_summary (object with keys that are required by _points_badge.mustache)

* is_course_staff bool
}}
<div class="panel panel-primary module-panel{{# course_module.expired }} module-expired{{/ course_module.expired }}">
  <a class="panel-heading{{^ course_module.open }} collapsed{{/ course_module.open }}"
  role="button" href="#module{{ course_module.id }}" data-toggle="collapse"
  aria-expanded="{{# course_module.open }}true{{/ course_module.open }}{{^ course_module.open }}false{{/ course_module.open }}" aria-controls="#module{{ course_module.id }}">
  <h3 class="panel-title">
    {{# module_summary }}
      {{> mod_stratumtwo/_points_badge }}
    {{/ module_summary }}
    {{# course_module.not_started }}
    <span class="badge pull-right">
      {{#str}} opens, mod_stratumtwo {{/str}} {{# toDateStr }}{{ course_module.openingtime }}{{/ toDateStr }}
    </span>
    {{/ course_module.not_started }}
    <span class="caret" aria-hidden="true"></span>
    {{ course_module.name }}
  </h3>
  </a>
<div class="collapse{{# course_module.open }} in{{/ course_module.open }}" id="module{{ course_module.id }}">
  <div class="panel-body">
    <p>
      {{# toDateStr }}{{ course_module.openingtime }}{{/ toDateStr }} &ndash; {{# toDateStr }}{{ course_module.closingtime }}{{/ toDateStr }}

      {{# course_module.late_submissions_allowed }}
      <br />
      <em>
        {{#str}}
        latealloweduntil, mod_stratumtwo, {{# toDateStr }}{{ course_module.late_submission_deadline }}{{/ toDateStr }}
        {{/str}}
        {{# course_module.show_late_submission_point_worth }}
        {{#str}} latepointsworth, mod_stratumtwo, {{ course_module.late_submission_point_worth }} {{/str}}
        {{/ course_module.show_late_submission_point_worth }}
      </em>
      {{/ course_module.late_submissions_allowed }}

      {{# course_module.show_required_points }}
      <br />
      {{#str}} pointsrequiredtopass, mod_stratumtwo, {{ course_module.points_to_pass }} {{/str}}
      {{/ course_module.show_required_points }}
    </p>

    {{# course_module.status_maintenance }}
    <p>
      {{#str}} undermaintenance, mod_stratumtwo {{/str}}
    </p>
    {{/ course_module.status_maintenance }}
    {{^ course_module.status_maintenance }}
    {{# module_summary }}
      {{> mod_stratumtwo/_points_progress }}
    {{/ module_summary }}
    {{{ course_module.introduction }}}
    {{/ course_module.status_maintenance }}
  </div>
  {{# course_module.status_ready }}
  <table class="table table-striped table-condensed results-table">
    <tbody>
      {{# categories }}
      <tr class="category-row" data-category="{{ id }}">
        <td>{{ name }}</td>
        {{# is_course_staff }}
        <td>{{#str}} coursestaff, mod_stratumtwo {{/str}}</td>
        {{/ is_course_staff }}
        <td class="col-md-2">{{#str}} points, mod_stratumtwo {{/str}}</td>
      </tr>
      {{# exercise_summaries }}
      <tr data-category="{{ id }}">
        <td>
          {{^ course_module.not_started }}
          {{! {% if exercise.status == 'unlisted' %}
          <a href="{ exercise.parent|url }">{ exercise }</a>
          {% else %}  }}
          
          <a href="{{{ exercise.url }}}">{{ exercise.name }}</a>
          {{/ course_module.not_started }}
          {{# course_module.not_started }}
          {{ exercise.name }}
          {{/ course_module.not_started }}
        </td>
        {{# is_course_staff }}
        <td>
          {{# course_module.not_started }}
          <a class="btn btn-default btn-xs" href="{{{ exercise.url }}}">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {{#str}} earlyaccess, mod_stratumtwo {{/str}}
          </a>
          {{/ course_module.not_started }}
          <a class="btn btn-default btn-xs" href="{{{ exercise.submissionlisturl }}}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            {{#str}} viewsubmissions, mod_stratumtwo {{/str}}
          </a>
        </td>
        {{/ is_course_staff }}
        <td>
          {{# exercise_summary }}
            {{> mod_stratumtwo/_points_badge }}
          {{/ exercise_summary }}
        </td>
      </tr>
      {{/ exercise_summaries }}
      {{/ categories }}
    </tbody>
  </table>
  {{/ course_module.status_ready }}
</div>
</div>

{{#js}}
require(['jquery'], function($) {
  /* enable Bootstrap tooltips */
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
});
{{/js}}
