<div class="bs3-container-fluid">

{{> mod_stratumtwo/exercise_round }}

</div>

{{#js}}
require(['jquery'], function($) {
  /* enable Bootstrap tooltips */
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
});
{{/js}}
