{{!
Show all exercise rounds in the course.

Context variables:
* rounds (array of objects) each object has fields course_module, module_summary and
    categories as required by exercise_round.mustache
* toDateStr callable Function that converts a Unix timestamp to a date string
* is_course_staff bool
* categories (array of objects) each object has fields
    - name (string) name of the category
    - summary (object) with fields required by _points_progress.mustache
    - status_ready (bool) true if status is ready
}}

<div class="bs3-container-fluid">

  <div class="row">
  {{# categories }}
    {{# status_ready }}
    <div class="col-lg-3">
      <div class="well">
        <p>{{ name }}</p>
        <p><strong class="h2">
          {{ summary.points }}
          <small>
            / {{ summary.max }}
          </small>
        </strong></p>
        {{# summary }}
          {{> mod_stratumtwo/_points_progress }}
        {{/ summary }}
      </div>
    </div>
    {{/ status_ready }}
  {{/ categories }}
  </div>

  {{# rounds }}
    {{> mod_stratumtwo/exercise_round }}
  {{/ rounds }}

</div>

{{#js}}
require(['jquery', 'mod_stratumtwo/twbootstrap'], function($) {
  /* enable Bootstrap tooltips */
  $(function() {
    $('[data-toggle="tooltip"]').tooltip();
  });
});
{{/js}}
